{% extends "norawebapp/layout.html" %}
{% block title %}
Menú del día
{% endblock %}

{% block content %}
<h1>Seleccionar menú</h1>

{% if message %}
    <p>{{message}}</p>
{% else %}
    <p><strong>Opción 1:</strong> {{ menu.option_one }}</p>
    <p><strong>Opción 2:</strong> {{ menu.option_two }}</p>
    <p><strong>Opción 3:</strong> {{ menu.option_three }}</p>
    <p><strong>Opción 4:</strong> {{ menu.option_four }}</p>

    <form method="POST" action=".">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar"></input>
    </form>
{% endif  %}

{% endblock %}