{% extends "norawebapp/layout.html" %}
{% block title %}
El menú de Nora
{% endblock %}
{% block content %}

<h1>Hola {{ user.username }}, Buen Día!</h1>

{% if menu %}
    <div>
        <p class="lead">El menú de hoy es:</p>
    </div>
    <div>
        <ul>
            <li>{{menu.option_one}}</li>
            <li>{{menu.option_two}}</li>
            <li>{{menu.option_three}}</li>
            <li>{{menu.option_four}}</li>
        </ul>

        {% if request.user.is_staff %}
            <p>
                <a href="{% url 'editmenu' menu.id %}" class="">Editar Menú del Día</a>
            </p>
        {% endif %}
    </div>
{% else %}
    <p>No se ha creado menú para el día</p>
    {% if request.user.is_staff %}
        <p>
            <a href="{% url 'createmenu' %}" class="">Crear Menú</a>
        </p>
    {% endif %}
{% endif %}

{% endblock %}