<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'norawebapp/css/site.css' %}" />
</head>

<body>
    <div class="navbar">
        <a href="{% url 'index' %}" class="navbar-brand">Noras Menu</a> | 
        <a href="{% url 'index' %}" class="navbar-item">Menu del Día</a> | 
        <a href="{% url 'createmenu' %}" class="navbar-item">Crear Menu</a> |
        <a href="{% url 'employee' %}" class="navbar-item">Crear Empleado</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>© 2020</p>
        </footer>
    </div>
</body>

</html>