<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'norawebapp/css/site.css' %}" />
</head>

<body>
    <div class="navbar">
        <a href="{% url 'index' %}" class="navbar-brand">Noras Menu</a> | 
        {% if user.is_authenticated %}
            {% if request.user.is_staff %}
                <a href="{% url 'index' %}" class="navbar-item">Menu del Día</a> | 
                <a href="{% url 'createmenu' %}" class="navbar-item">Crear Menu</a> |
                <a href="{% url 'createemployee' %}" class="navbar-item">Crear Empleado</a> |
            {% endif %}
                <span style="padding-left: 50px;">Hola {{ user.username }}!</span> |
                <a href="{% url 'logout' %}" class="navbar-item">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}" style="padding-left: 50px;" class="navbar-item">Log In</a>
        {% endif %}
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        {% now "Y" as current_year %}
        <footer>
            <p>© {{current_year}}</p>
        </footer>
    </div>
</body>

</html>